*{
    margin: 0;
    padding: 0;
}

body{
    align-items:center;
    justify-content: center;
    
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    
}

header > div{
    margin: 0;
}

header > div > Link{
    position: relative;
    right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}

header > div > Link:visited{
    text-decoration: none;
}

.header-logo{
    width: 5rem;
}

.header-ele{
    margin-left: 1rem;
}

.character-div{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.character-div-child {
    width:23%;
    min-width: 250px;
    margin:1%;
    background-color: antiquewhite;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-div-child > h3{
    text-decoration: none;
}


