*{
    margin: 0;
    padding: 0;
    font-family: GotFont;
    line-height: 2rem;
    text-decoration: none;
}

@font-face {
    font-family: GOTFont;
    src: url(../assets/gameofthrones.ttf);
}

body{
    align-items:center;
    justify-content: center;
    margin:0;
    padding:0;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    
}

header > div{
    margin: 0;
}

header > div > Link{
    position: relative;
    right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}

header > div > Link:visited{
    text-decoration: none;
}

.header-logo{
    width: 5rem;
}

.header-ele{
    margin-left: 1rem;
    text-decoration: none;
}

#banner-img{
    height:420px;
    width:100%;
    object-fit: cover;
    object-position: 10% 10%;
}

.character-div{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.character-div-child {
    width:18%;
    margin:1%;
    background-color: hsl(208,100%,98.9%) ;
    min-height: 300px;
    border-radius: 0.5rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    text-decoration: none;

    
}

.character-div-child :visited {
    text-decoration: none;
}

.character-div-child > h3{
    text-align: center;
    color: black;
}

.character-div-child > h4{
    text-align: center;
    color:silver;
}

.character-div-child > img{
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow:rgba(0,0,0,.9);
}

.character-page{
    display: flex;
    flex-direction: row;
}

.character-page-sidebar{
    width: 25%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:2rem;
    gap: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    
}

.character-page-sidebar > img{
    width: 90%;
    min-height: 450px;
    object-fit: cover;
    border-radius: .5rem;
    align-self: center;
}

.character-page-main{
    width:75%;
    padding: 1rem;
    margin-right:1rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.character-page-main > h4{
    margin-top:1rem;
}

@media screen and (max-width: 1080px) {

    .character-page{
        display: flex;
        flex-direction: column;
    }

    .character-page-sidebar{
        width: 100%;
        align-items: center;
        padding-right: 0;
    }

    .character-page-main{
        width: 100%;
        align-items: center;
    }
    
    .character-page-sidebar > img{
        width: 70%;
        
    }
  }

  .about-page{
    margin: 2rem;
  }

  .about-page-info{
    margin-top: 2rem;
  }

  .edit-bar{
    position: fixed;
    display:flex;
    align-items: center;
    width:65%;
    height: 100px;
    bottom:50px;
    align-self: center;
    border-radius: 2px;
    box-shadow: rgba(93, 103, 114, 0.1) 0px 0px 0px 2px, rgba(6, 24, 44, 0.1) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }



  
  /* CSS */
  .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 2px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    /* width: 10%; */
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-left: 1rem;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }